h3{
    text-align: center;
}

.top-bar-left {
    color: green;
}
.top-bar-right{
    
    color: green;
}

h2{
    
    text-align: center;
}
.menu .menu-text{
    font-stretch: expa
    font-family: monospace;
    font-size: 1em;
}
aside{
    
    float: left;
    
    
}
